<h:piperka title="Login with...">
  <h3>Login with...</h3>
  <ul class="plain">
    <h:providers>
      <li>
	<a h:href="/apiAuth/oauth2login/"><h:name/></a>
      </li>
    </h:providers>
  </ul>
</h:piperka>
