<h:piperka title="Most popular webcomics">
  <h2>Most popular webcomics</h2>
  <h:listing mode="Top">
    <div class="qsearch_container">
      <h:qSearch/>
    </div>
    <h:hilightButton/>
  </h:listing>
</h:piperka>
