<h:piperka title="Welcome">
  <h2>Welcome to Piperka</h2>
  <p>
    You have successfully created an account.  To get started, use the
    links on the side bar to find web comics and subscribe to them to
    follow updates.
  </p>
</h:piperka>
