.ui-autocomplete {
background: white;
width: 60ex;
padding-left: 1ex;
}

.ui-autocomplete,.ui-menu {
list-style: none;
max-height: 40ex;
overflow: auto;
}

.ui-autocomplete .ui-state-focus {
background: yellow;
cursor: pointer;
}

#hilitedialog {
background: white;
}

.ui-dialog.isover {
z-index: 2
}

.ui-helper-hidden-accessible {
display: none;
}
